@font-face {
  font-family: 'Kayak Sans';
  src:
    url('../fonts/KayakSansRegular.woff') format('woff'),
    url('../fonts/KayakSansRegular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}