@media  screen and (min-width : 1600px) and (max-width : 1920px)
  .info
    margin-left: -5rem
    &-sliced 
      left: 21.7rem
      bottom: -17rem
    &-layer 
      left: 28.3rem
      bottom: -6rem
  .sheet 
    right: 11.4rem
  .egg 
    right: -5.3rem
  .restaurants
    &__info 
      padding-right: 4rem
  .place
    &__title
      margin-right: 18rem
    &__line1 
      left: 53.1rem
    &__line2
      left: 53.1rem
  .food1 
    right: 1rem
  .thanks
    &__fone
      &-title 
        margin-right: 7.7rem
  .spice 
    left: 29rem        
  .attachment
    &__info
      margin-left: 8rem
      margin-right: 8rem
    &__pasta 
      right: 20rem
    &__pasta2
      right: 17.7rem
  .paragraph
    &__group
      &-social 
        margin-left: 100px
      &-partner 
        margin-left: 6rem
      &-menu 
        margin-left: 4.5rem
        margin-top: 7rem
      &-blog
        margin-top: 1rem
      &-load 
        margin-left: 9rem
        margin-top: -2.1rem
  .footer
    &__hero 
      height: 500px
@media  screen and (min-width : 1439px) and (max-width : 1599px)
  .info
    margin-left: -5rem
    &-sliced 
      left: 21.7rem
      bottom: -14rem
      width: 40%
    &-layer 
      width: 20%
      left: 28.3rem
      bottom: -6rem
  .fone
    &-fruit
      width: 90%
  .find
    &__hero
      &-burger
        width: 35%
        margin-left: 7rem
  .sheet 
    right: 11.4rem
  
  .restaurants
    &__info 
      padding-right: 4rem
    &__title
      width: 550px
  .phone
    width: 30%
  .egg 
    right: -3.3rem
    width: 25%
  .place
    &__title
      margin-right: 13rem
    &__line1 
      left: 53.1rem
    &__line2
      left: 53.1rem
  .food1 
    right: 1rem
  .thanks
    &__fone
      &-title 
        margin-right: 12.7rem
        width: 439px
  .phone2
    width: 30%
    margin-right: 4rem
  .spice 
    left: 19rem      
    width: 20%
  .line3
    width: 100%
    margin-top: 9rem
  .attachment
    &__info
      margin-left: 8rem
      margin-right: 8rem
    &__pasta 
      right: 20rem
    &__pasta2
      right: 17.7rem
  .paragraph
    &__group
      &-social 
        margin-left: 100px
      &-partner 
        margin-left: 1rem
      &-menu 
        margin-left: 2rem
        margin-top: 7rem
      &-blog
        margin-top: 1rem
      &-load 
        margin-left: 9rem
        margin-top: -2.1rem
  .footer
    &__hero 
      height: 500px
@media  screen and (min-width : 1360px) and (max-width : 1438px)
  .info
    margin-left: -5rem
    &-sliced 
      left: 21.7rem
      bottom: -14rem
      width: 40%
    &-layer 
      width: 20%
      left: 28.3rem
      bottom: -6rem
  .fone
    &-fruit
      width: 90%
  .find
    &__hero
      &-burger
        width: 35%
        margin-left: 7rem
  .sheet 
    right: 11.4rem
  
  .restaurants
    &__info 
      padding-right: 4rem
    &__title
      width: 550px
  .phone
    width: 30%
  .egg 
    right: -3.3rem
    width: 25%
  .place
    &__title
      margin-right: 13rem
    &__line1 
      left: 53.1rem
    &__line2
      left: 53.1rem
  .food1 
    right: 1rem
  .thanks
    &__fone
      &-title 
        margin-right: 12.7rem
        width: 439px
  .phone2
    width: 30%
    margin-right: 4rem
  .spice 
    left: 19rem      
    width: 20%
  .line3
    width: 100%
    margin-top: 9rem
  .attachment
    &__info
      margin-left: 8rem
      margin-right: 8rem
    &__pasta 
      right: 20rem
    &__pasta2
      right: 17.7rem
  .paragraph
    &__group
      &-social 
        margin-left: 70px
      &-partner 
        margin-left: 1rem
      &-menu 
        margin-left: 2rem
        margin-top: 7rem
      &-blog
        margin-top: 1rem
      &-load 
        margin-left: 6rem
        margin-top: -2.1rem
  .footer
    &__hero 
      height: 500px
@media  screen and (min-width : 1200px) and (max-width : 1359px)
  .info
    margin-left: -5rem
    &-sliced 
      left: 21.7rem
      bottom: -14rem
      width: 40%
    &-layer 
      width: 20%
      left: 28.3rem
      bottom: -6rem
  .fone
    &-fruit
      width: 90%
  .find
    &__hero
      &-burger
        width: 35%
        margin-left: 7rem
        margin-right: 3rem
      &-title
        width: 450px
  input
    width: 400px
  .sheet 
    right: 11.4rem
  
  .restaurants
    &__info 
      padding-right: 4rem
      padding-left: 3rem
    &__title
      width: 500px
  .phone
    width: 30%
  .egg 
    right: -3.3rem
    width: 25%
  .cucumber
    width: 70%
  .place
    &__title
      margin-right: 13rem
    &__line1 
      left: 53.1rem
    &__line2
      left: 53.1rem
    &__food
      width: 50%
  .food1 
    right: 1rem
  .mushroom 
    width: 12%
    right: 25.7rem
    top: 8rem
  .thanks
    &__fone
      &-title 
        margin-right: 12.7rem
        width: 439px
  .phone2
    width: 30%
    margin-right: 4rem
  .spice 
    left: 19rem      
    width: 20%
  .line3
    width: 100%
    margin-top: 9rem
  .attachment
    &__info
      margin-left: 2rem
      margin-right: 8rem
    &__pasta 
      right: 20rem
    &__pasta2
      right: 17.7rem
    &__sheet
      width: 17%
      right: 2rem

  .vegetables
    width: 40%
    margin-left: 7rem
  .paragraph
    &__group
      &-social 
        margin-left: 30px
      &-partner 
        margin-left: 0rem
      &-menu 
        margin-left: пг1rem
        margin-top: 7rem
      &-blog
        margin-top: 1rem
        margin-left: 2rem
      &-load 
        margin-left: 6rem
        margin-top: -2.1rem
  .footer
    &__hero 
      height: 500px
@media  screen and (min-width : 1024px) and (max-width : 1199px)
  .info
    margin-left: -5rem
    &-sliced 
      left: 21.7rem
      bottom: -13rem
      width: 30%
    &-layer 
      width: 15%
      left: 26.3rem
      bottom: -7rem
    &__title 
      font-size: 40px
      line-height: 50px
  .fone
    &-fruit
      width: 90%
    &-btn 
      margin-right: -5rem
  .find
    &__hero
      &-burger
        width: 35%
        margin-left: 7rem
        margin-right: 3rem
      &-title
        width: 450px
        font-size: 40px
        line-height: 50px
  input
    width: 298px
  .sheet 
    right: 11.4rem
  
  .restaurants
    &__hero
      height: 900px
    &__info 
      padding-right: 4rem
      padding-left: 6rem
    &__title
      width: 350px
      font-size: 40px
      line-height: 50px
  .phone
    width: 30%
  .egg 
    right: 3.7rem
    width: 22%
    top: 5.4rem
  .cucumber
    width: 63%
  .line1
    left: 16.1rem
    top: 14.5rem
  .line2
    left: 16.1rem
    top: 15.5rem
  .place
    &__title
      margin-right: 13rem
      font-size: 40px
      line-height: 50px
    &__line1 
      left: 38rem
    &__line2
      left: 38rem
    &__food
      width: 50%
      margin-top: 9rem
  .food1 
    right: 1rem
  .mushroom 
    width: 10%
    right: 25.7rem
    top: 10rem
  .thanks
    &__fone
      height: 1200px
      &-title 
        margin-right: 3.7rem
        width: 439px
        font-size: 40px
        line-height: 50px
  .phone2
    width: 25%
    margin-right: 4rem
  .sandwich
    width: 17%
    left: 11rem
    top: 46rem
  .sandwich2
    width: 17%
    left: 11.7rem
    top: 46.5rem
  .dumplings
    width: 15%
    top: 54.3rem
    left: 26.6rem
  .dumplings2
    width: 15%
    top: 54.3rem
    left: 26.6rem
  .spice 
    left: 19rem      
    width: 20%
  .line3
    width: 100%
    margin-top: 2rem
  .attachment
    &__info
      margin-left: 2rem
      margin-right: 8rem
      &-text
        width: 400px
    &__pasta 
      right: 20rem
      bottom: 2rem
    &__pasta2
      right: 17.7rem
      bottom: -0.4rem
    &__sheet
      width: 17%
      right: 2rem
    &__line2 
      top: -3rem
      left: 28rem
    &__line1
      top: -4rem
      left: 28rem
  .vegetables
    width: 40%
    margin-left: 7rem
  .uber
    width: 20%
  .story
    &__google
      width: 100%
    &__apple
      width: 100%
  .information
    &__restaurant
      margin-right: 2rem
      &::after
        right: 0rem
  .paragraph
    &__group
      flex-wrap: wrap
      &-social 
        padding-top: 0rem
        margin-left: 30px
      &-partner 
        margin-left: 2rem
        margin-top: -1rem
      &-menu 
        margin-left: 2rem
        margin-top: 5.5rem
      &-blog
        margin-top: -1rem
        margin-left: 2rem
      &-load 
        margin-left: 30px
        margin-top: 0rem
  .production 
    margin-top: 1rem
  
  .footer
    &__hero 
      height: 500px
      align-items: end
      &::after
        top: 50px
@media  screen and (min-width : 992px) and (max-width : 1023px)
  .info
    margin-left: -5rem
    &-sliced 
      left: 21.7rem
      bottom: -13rem
      width: 30%
    &-layer 
      width: 15%
      left: 26.3rem
      bottom: -7rem
    &__title 
      font-size: 40px
      line-height: 50px
  .fone
    &-fruit
      width: 90%
    &-btn 
      margin-right: -5rem
  .find
    &__hero
      &-burger
        width: 35%
        margin-left: 7rem
        margin-right: 3rem
      &-title
        width: 450px
        font-size: 40px
        line-height: 50px
      &-btn 
        padding: 1.3rem 2.3rem
  input
    width: 298px
  .sheet 
    right: 11.4rem
  
  .restaurants
    &__hero
      height: 900px
    &__info 
      padding-right: 4rem
      padding-left: 6rem
    &__title
      width: 350px
      font-size: 40px
      line-height: 50px
  .phone
    width: 30%
  .egg 
    right: 3.7rem
    width: 22%
    top: 5.4rem
  .cucumber
    width: 63%
  .line1
    left: 16.1rem
    top: 14.5rem
  .line2
    left: 16.1rem
    top: 15.5rem
  .place
    &__title
      margin-right: 13rem
      font-size: 40px
      line-height: 50px
    &__line1 
      left: 38rem
    &__line2
      left: 38rem
    &__food
      width: 50%
      margin-top: 9rem
  .food1 
    right: 1rem
  .mushroom 
    width: 10%
    right: 25.7rem
    top: 10rem
  .thanks
    &__fone
      height: 1200px
      &-title 
        margin-right: 3.7rem
        width: 439px
        font-size: 40px
        line-height: 50px
  .phone2
    width: 25%
    margin-right: 4rem
  .sandwich
    width: 17%
    left: 11rem
    top: 46rem
  .sandwich2
    width: 17%
    left: 11.7rem
    top: 46.5rem
  .dumplings
    width: 15%
    top: 54.3rem
    left: 26.6rem
  .dumplings2
    width: 15%
    top: 54.3rem
    left: 26.6rem
  .spice 
    left: 19rem      
    width: 20%
  .line3
    width: 100%
    margin-top: 2rem
  .attachment
    &__info
      margin-left: 2rem
      margin-right: 8rem
      &-text
        width: 400px
    &__pasta 
      right: 20rem
      bottom: 2rem
    &__pasta2
      right: 17.7rem
      bottom: -0.4rem
    &__sheet
      width: 17%
      right: 2rem
    &__line2 
      top: -3rem
      left: 28rem
    &__line1
      top: -4rem
      left: 28rem
  .vegetables
    width: 40%
    margin-left: 7rem
  .uber
    width: 20%
  .story
    &__google
      width: 100%
    &__apple
      width: 100%
  .information
    &__restaurant
      margin-right: 2rem
      &::after
        right: 0rem
  .paragraph
    &__group
      flex-wrap: wrap
      &-social 
        padding-top: 0rem
        margin-left: 30px
      &-partner 
        margin-left: 2rem
        margin-top: -1rem
      &-menu 
        margin-left: 2rem
        margin-top: 5.5rem
      &-blog
        margin-top: -1rem
        margin-left: 2rem
      &-load 
        margin-left: 30px
        margin-top: 0rem
  .production 
    margin-top: 1rem
  
  .footer
    &__hero 
      height: 500px
      align-items: end
      &::after
        top: 50px
@media  screen and (min-width : 768px) and (max-width : 991px)
  .info
    margin-left: -7rem
    &-sliced 
      left: 21.7rem
      bottom: -13rem
      width: 30%
    &-layer 
      width: 15%
      left: 26.3rem
      bottom: -7rem
    &__title 
      font-size: 30px
      width: 300px
      line-height: 50px
  .fone
    &-fruit
      width: 90%
    &-btn 
      margin-right: -5rem
  .find
    &__hero
      &-burger
        width: 35%
        margin-left: 7rem
        margin-right: 3rem
      &-title
        width: 350px
        font-size: 30px
        line-height: 50px
      &-btn 
        padding: 1rem 2.3rem
        margin-top: 10px
  input
    width: 298px
  .sheet 
    right: 11.4rem
    top: -10.5rem
  .search
    &__group
      flex-wrap: wrap
      z-index: 30
  .restaurants
    &__hero
      height: 900px
      z-index: -1
    &-btn
      padding: 1rem 2.3rem
    &__info 
      padding-right: 2rem
      padding-left: 9rem
    &__title
      width: 350px
      font-size: 30px
      line-height: 50px
  .cucumber 
    left: -3.6rem
  .phone
    width: 30%
  .egg 
    right: 3.7rem
    width: 22%
    top: 5.4rem
  .cucumber
    width: 63%
  .line1
    left: 16.1rem
    top: 14.5rem
  .line2
    left: 16.1rem
    top: 15.5rem
  .place
    &__title
      margin-right: 3rem
      width: 350px
      font-size: 30px
      line-height: 50px
    &__line1 
      left: 30rem
    &__line2
      left: 30rem
      bottom: 17.5rem
    &__food
      width: 50%
      margin-top: 9rem
  .food1 
    right: 1rem
    width: 14%
  .mushroom 
    width: 10%
    right: 14rem
    top: 8rem
  .thanks
    &__fone
      height: 800px
      z-index: -1
      &-title 
        margin-right: 1rem
        width: 300px
        font-size: 30px
        line-height: 50px
  .phone2
    width: 25%
    margin-right: 4rem
  .sandwich
    width: 17%
    left: 11rem
    top: 30rem
  .sandwich2
    width: 17%
    left: 11.7rem
    top: 30.5rem
  .dumplings
    width: 15%
    top: 33.3rem
    left: 20.6rem
  .dumplings2
    width: 15%
    top: 33.3rem
    left: 20.6rem
  .spice 
    left: 17rem    
    top: 7rem  
    width: 20%
  .line3
    width: 100%
    margin-top: -6rem
  .story
    margin-top: 0
  .attachment
    &__info
      margin-left: 2rem
      margin-right: 8rem
      margin-top: -4rem
      &-text
        width: 400px
    &__pasta 
      right: 20rem
      bottom: -4rem
      z-index: 31
    &__pasta2
      right: 17.7rem
      bottom: -6.4rem
      z-index: 30
    &__sheet
      width: 17%
      right: 2rem
    &__line2 
      top: -3rem
      left: 28rem
    &__line1
      top: -4rem
      left: 28rem
    &__grass 
      bottom: -3.3rem
      z-index: 1
  .vegetables
    width: 40%
    margin-left: 7rem
  .uber
    width: 20%
  .story
    &__google
      width: 100%
    &__apple
      width: 100%
  .service
    &__hero
      height: 1000px
  .information
    &__eat
      margin-top: -3.5rem
    &__restaurant
      margin-right: 2rem
      &::after
        display: none
  .paragraph
    &__group
      flex-wrap: wrap
      justify-content: center
      &-social 
        padding-top: 0rem
        margin-left: 30px
      &-partner 
        margin-left: 2rem
        margin-top: -1rem
      &-menu 
        margin-left: 2rem
        margin-top: 5.5rem
      &-blog
        margin-top: -1rem
        margin-left: -10px
      &-load 
        margin-left: 4rem
        margin-top: -3rem
  .production 
    margin-top: 1rem
  .footer
    &__hero 
      height: 600px
      align-items: end
      &::after
        top: 50px
@media  screen and (min-width : 510px) and (max-width : 767px)
  .info
    margin-left: -7rem
    margin-top: 6rem
    &-sliced 
      left: 15.7rem
      bottom: -10rem
      width: 30%
    &-layer 
      width: 15%
      left: 19.3rem
      bottom: -4rem
    &__title 
      font-size: 30px
      width: 300px
      line-height: 50px
    &-btn 
      top: 12.5rem
      left: 0
  .fone
    &-fruit
      width: 130%
    &-btn 
      margin-right: -9rem
  .find
    &__hero
      flex-wrap: wrap
      &-burger
        width: 60%
        margin: auto
        margin-top: -11rem
      &-info
        margin-top: 0
        margin-left: 9rem
      &-title
        width: 350px
        font-size: 30px
        line-height: 50px
      &-btn 
        padding: 1.3rem 2.3rem
        margin-top: 10px
  input
    width: 298px
  .sheet 
    right: -3.6rem
    top: -15.5rem
  .search
    &__group
      flex-wrap: wrap
      z-index: 30
      align-items: flex-end
  .restaurants
    &__hero
      height: 900px
      z-index: -1
      flex-wrap: wrap
    &-btn
      padding: 1rem 2.3rem
    &__info 
      padding-left: 31rem
      order: 1
      margin-top: -17rem
    &__title
      width: 350px
      font-size: 30px
      line-height: 50px
  .cucumber 
    left: -3.6rem
    top: 16rem
    width: 73%
  .phone
    max-width: 200px
    margin-top: 3rem
    margin-bottom: 6rem
    margin-left: 18rem
  .egg 
    right: -3.3rem
    width: 30%
    top: 5.4rem
  .line1
    left: 21.1rem
    top: 46.5rem
  .line2
    left: 21.1rem
    top: 47.5rem
  .place
    &__title
      margin-right: 3rem
      width: 350px
      font-size: 30px
      line-height: 50px
    &__line1 
      left: 27rem
      bottom: 11rem
    &__line2
      left: 27rem
      bottom: 12rem

    &__food
      width: 50%
      margin-top: 9rem
  .food1 
    right: 1rem
    width: 14%
  .mushroom 
    width: 10%
    right: 20rem
    top: 4rem
  .thanks
    &__fone
      height: 800px
      z-index: -1
      flex-wrap: wrap
      &-title 
        margin-right: 1rem
        width: 300px
        font-size: 30px
        line-height: 50px
        order: 1
        margin-top: -6rem
  .phone2
    width: 25%
    margin-right: 4rem
    margin-top: -8.5rem
  .sandwich
    width: 17%
    left: 0.7rem
    top: 35.5rem
  .sandwich2
    width: 17%
    left: 1rem
    top: 35.5rem
  .dumplings
    width: 15%
    top: 35.3rem
    left: 20.6rem
  .dumplings2
    width: 15%
    top: 35.3rem
    left: 20.6rem
  .spice 
    left: 14rem    
    top: 9rem  
    width: 20%
  .line3
    width: 100%
    margin-top: 1rem
  .story
    margin-top: 0
  .attachment
    flex-wrap: wrap
    &__info
      margin-left: 2rem
      margin-right: 5rem
      margin-top: -4rem
      &-text
        width: 400px
    &__pasta 
      right: 20rem
      bottom: -8rem
      z-index: 31
    &__pasta2
      right: 17.7rem
      bottom: -10.4rem
      z-index: 30
    &__sheet
      width: 17%
      right: 2rem
    &__line2 
      top: -3rem
      left: 23rem
    &__line1
      top: -4rem
      left: 23rem
    &__grass 
      bottom: -3.3rem
      z-index: 1
  .vegetables
    width: 60%
    margin-top: -7rem
    margin-bottom: 3rem
  .uber
    width: 20%
  .story
    &__google
      width: 100%
    &__apple
      width: 100%
  .service
    &__hero
      height: 1000px
  .information
    &__eat
      margin-top: -3.5rem
    &__restaurant
      margin-right: 2rem
      &::after
        display: none
  .paragraph
    &__group
      flex-wrap: wrap
      justify-content: space-around
      margin: 2rem
      &-social 
        padding-top: 0rem
        margin-left: 0rem
      &-partner 
        margin-left: 2rem
        margin-top: -1rem
      &-menu 
        margin-left: 0rem
        margin-top: 5.5rem
      &-blog
        margin-top: 4rem
        margin-left: -8px
      &-load 
        margin-left: 0rem
        margin-top: 2rem
  .production 
    margin-top: 1rem
  .footer
    &__hero 
      height: 850px
      align-items: end
      &::after
        top: 50px
@media  screen and (min-width : 320px) and (max-width : 509px)
  .info
    margin-left: -10rem
    margin-top: 3rem
    &-sliced 
      left: 11.7rem
      bottom: -13rem
      width: 30%
    &-layer 
      width: 15%
      left: 15.3rem
      bottom: -9rem
    &__title 
      font-size: 27px
      width: 300px
      line-height: 40px
    &-btn 
      top: 12.5rem
      left: 0
  .fone
    &-fruit
      width: 180%
    &-btn 
      margin-right: -9rem
  .find
    &__hero
      flex-wrap: wrap
      &-burger
        width: 60%
        margin: auto
        margin-top: -11rem
        margin-left: 8rem
      &-info
        margin-top: 0
        margin-left: 4.5rem
      &-title
        width: 350px
        font-size: 27px
        line-height: 40px
      &-btn 
        padding: 1.3rem 2.3rem
        margin-top: 10px
  input
    width: 298px
  .sheet 
    right: 1.4rem
    width: 40%
    top: -15.5rem
  .search
    &__group
      flex-wrap: wrap
      z-index: 30
      align-items: flex-end
  .restaurants
    &__hero
      height: 900px
      z-index: -1
      flex-wrap: wrap
    &-btn
      padding: 1rem 2.3rem
    &__info 
      padding-left: 31rem
      order: 1
      margin-top: -17rem
    &__title
      width: 300px
      font-size: 27px
      line-height: 40px
  .cucumber 
    left: -3.6rem
    top: 15rem
    width: 73%
  .phone
    max-width: 200px
    margin-top: 3rem
    margin-bottom: 6rem
    margin-left: 18rem
  .egg 
    right: -3.3rem
    width: 30%
    top: 5.4rem
  .line1
    left: 21.1rem
    top: 46.5rem
  .line2
    left: 21.1rem
    top: 47.5rem
  .place
    &__title
      margin-right: 3rem
      width: 300px
      font-size: 27px
      line-height: 40px
    &__line1 
      left: 27rem
      bottom: 11rem
    &__line2
      left: 27rem
      bottom: 12rem
    &__food
      width: 50%
      margin-top: 9rem
  .food1 
    right: 1rem
    width: 14%
    top: 19rem
  .mushroom 
    width: 10%
    right: 2rem
    top: 4rem
  .thanks
    &__fone
      height: 800px
      z-index: -1
      flex-wrap: wrap
      &-title 
        margin-right: 1rem
        width: 270px
        font-size: 27px
        line-height: 40px
        order: 1
        margin-top: -6rem
  .phone2
    max-width: 150px
    margin-right: -1rem
    margin-top: 11.5rem
  .sandwich
    width: 17%
    left: 0.7rem
    top: 32.5rem
  .sandwich2
    width: 17%
    left: 1rem
    top: 32.5rem
  .dumplings
    width: 15%
    top: 35.3rem
    left: 20.6rem
  .dumplings2
    width: 15%
    top: 35.3rem
    left: 20.6rem
  .spice 
    left: 9rem    
    top: 9rem  
    width: 20%
  .line3
    width: 100%
    margin-top: 1rem
  .story
    margin-top: 0
  .attachment
    flex-wrap: wrap
    &__info
      margin-left: 5rem
      margin-right: 5rem
      margin-top: -4rem
      &-text 
        font-size: 27px
        width: 290px
        line-height: 40px
    &__pasta 
      right: 11rem
      bottom: -8rem
      z-index: 31
    &__pasta2
      right: 8.7rem
      bottom: -10.4rem
      z-index: 30
    &__sheet
      width: 17%
      right: 2rem
    &__line2 
      top: -3rem
      left: 23rem
    &__line1
      top: -4rem
      left: 23rem
    &__grass 
      bottom: -9.3rem
      z-index: 1
  .vegetables
    width: 60%
    margin-top: -7rem
    margin-bottom: 3rem
  .uber
    width: 20%
  .story
    &__google
      width: 100%
    &__apple
      width: 100%
  .service
    &__hero
      height: 1100px
  .information
    &__eat
      margin-top: 1.5rem
      width: 240px
      &-text
        width: 270px
    &__restaurant
      margin-right: 2rem
      width: 240px
      &::after
        display: none
      &-text
        width: 270px
  .paragraph
    &__group
      flex-wrap: wrap
      justify-content: space-around
      margin: 2rem
      &-social 
        padding-top: 5rem
        margin-left: 0rem
      &-partner 
        margin-left: -0.5rem
        margin-top: -1rem
      &-menu 
        margin-left: -1rem
        margin-top: 1rem
      &-blog
        margin-top: -5rem
        margin-left: -8px
      &-load 
        margin-left: 0rem
        margin-top: 2rem
  .production 
    margin-top: 1rem
  .footer
    &__hero 
      height: 1010px
      align-items: end
      &::after
        top: 50px
@media only screen and (max-width : 991px) 
  .animated 
    -o-transition-property: none !important
    -moz-transition-property: none !important
    -ms-transition-property: none !important
    -webkit-transition-property: none !important
    transition-property: none !important
    -o-transform: none !important
    -moz-transform: none !important
    -ms-transform: none !important
    -webkit-transform: none !important
    transform: none !important
    -webkit-animation: none !important
    -moz-animation: none !important
    -o-animation: none !important
    -ms-animation: none !important
    animation: none !important
